In [1]:
# Web Scraping
!pip install BeautifulSoup4
!pip install requests
!pip install lxml

Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.9)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (4.2.6)

In [2]:

from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from lxml import html
import lxml.etree

print('ALL libraries imported!')

ALL libraries imported!

In [3]:
# get html from wiki, create Soup object
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").content
soup = BeautifulSoup(source, "html.parser")
print('soup object created')

soup object created

In [4]:
# iterate wikitable to get data from HTML, store to list
data = []
table = soup.find(class_='wikitable')
rows = table.find_all('tr')

for row in rows:
    data.append([td.text.strip() for td in row.find_all('td')])

df = pd.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df.head()

  PostalCode       Borough     Neighbourhood
0       None          None              None
1        M1A  Not assigned
2        M2A  Not assigned
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

In [5]:
# clean data
# clean Borough = Not Assigned or Neightbourhood is blank
df['Neighbourhood'].replace('', np.nan, inplace=True)
df.head()

  PostalCode       Borough     Neighbourhood
0       None          None              None
1        M1A  Not assigned               NaN
2        M2A  Not assigned               NaN
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

In [6]:

# Remove rows with NaN
df.dropna(subset=['Neighbourhood'], inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(20)

   PostalCode  ...                                      Neighbourhood
0         M3A  ...                                          Parkwoods
1         M4A  ...                                   Victoria Village
2         M5A  ...                          Regent Park, Harbourfront
3         M6A  ...                   Lawrence Manor, Lawrence Heights
4         M7A  ...        Queen's Park, Ontario Provincial Government
5         M9A  ...                                   Islington Avenue
6         M1B  ...                                     Malvern, Rouge
7         M3B  ...                                          Don Mills
8         M4B  ...                    Parkview Hill, Woodbine Gardens
9         M5B  ...                           Garden District, Ryerson
10        M6B  ...                                          Glencairn
11        M9B  ...  West Deane Park, Princess Gardens, Martin Grov...
12        M1C  ...             Rouge Hill, Port Union, Highland Creek
13        M3C  ...                                          Don Mills
14        M4C  ...                                   Woodbine Heights
15        M5C  ...                                     St. James Town
16        M6C  ...                                 Humewood-Cedarvale
17        M9C  ...  Eringate, Bloordale Gardens, Old Burnhamthorpe...
18        M1E  ...                  Guildwood, Morningside, West Hill
19        M4E  ...                                        The Beaches

[20 rows x 3 columns]

In [7]:
#getting dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PostalCode     103 non-null    object
 1   Borough        103 non-null    object
 2   Neighbourhood  103 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [8]:

print(" shape",df.shape)

 shape (103, 3)